<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>asideBlog</title>
    <link rel="stylesheet" href="./js/javascript.js">
    <link rel="stylesheet" href="./css/style.css">

    <style>
        aside {width: 100%; height: fit-content; float: left; background-color: white; font-family: Verdana; font-size:small;
            text-align: left; border: 1px solid dimgrey;}   
        
    </style>




</head>

<body>     


<main>        
    
    <object data="" type="">
        
            <aside>
                <div>blog1</div>  
                <div>blog2</div>            
        
                    
            </aside>        
       
                

    </object>

</main>
    
    
</body>
</html>